
body {
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items:center;
    justify-content: center;
    overflow: hidden;
    background-color: tomato;
}
/*

*/
.card {
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 210px 310px;
    grid-template-areas: "image" "text";
  
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
  }

.card-image {
    grid-area: image;
  }
.card-text {
    grid-area: text;
  }

.card-image {
    grid-area: image;
    background: url("https://bitbucket.org/jahins319072cards/jahins319072cards.bitbucket.io/downloads/AU1.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }

.card-text {
    grid-area: text;
    margin: 25px;
  }
.card-text .date {
    color: rgb(255, 7, 110);
    font-size:13px;
   }
.card-text p {
    color: grey;
    font-size:15px;
    font-weight: 300;
  }
.card-text h2 {
    margin-top:0px;
    font-size:28px;
  }
.card-text {
    grid-area: text;
    margin: 25px;
  }
.card-text .date {
    color: rgb(255, 7, 110);
    font-size:13px;
  }
.card-text p {
    color: grey;
    font-size:15px;
    font-weight: 300;
  }
.card-text h2 {
    margin-top:0px;
    font-size:28px;
  }


.card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
.card {
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
  }
